@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	src: local("Lato-Light"),url(../fonts/Lato-Light.ttf) format(ttf);
}

@font-face{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	src: local("Lato-Regular"),url(../fonts/Lato-Regular.ttf) format(ttf);
}

@font-face{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 700;
	src: local("Lato-Bold"),url(../fonts/Lato-Bold.ttf) format(ttf);
}

@font-face{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 900;
	src: local("Lato-Black"),url(../fonts/Lato-Black.ttf) format(ttf);
}

$products-menu-list-name-margin-left: 18px;
$fz14: 14px;
$fw300: 300;
$colorPink: #F16D7F;
$colorWhite: #fff;

@mixin tablet {
	@media (min-width: 768px) and (max-width: 1599px){
		@content;
	}
}

@mixin phone {
	@media (min-width: 375px) and (max-width: 767px){
		@content;
	}
}


:root {
	--black-color: #222222;
	--pink-color: $colorPink;
	--pink-background: #F1E4E6;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0)
}

body {
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
}

.container {
	width: 92%;
	margin: 0 auto;

	@include tablet{
		width: 92%;
	}
}

.header {
	background-color: var(--black-color);
}

.header__container {
	display: flex;
	height: 75px;
	align-items: center;
	justify-content: space-between;

	@include tablet{
		height: 74px;
	}

	@include phone{
		height: 74px;
	}
}

.header__search {
	@include tablet{
		margin-left: 4%;
	}
}

.header__logo:focus, .header__logo-container a:focus,.header__logo:active, .header__logo-container a:active,.header__button:focus,.header__button:active {
	outline: none;
	border: none;
}

.header__button {
	background-color: transparent;
	border: none;
	margin-left: 41px;
}

.header__button:first-child{
	margin-top: 12px;
}

.header__button:hover, 
.header__button:focus {
	opacity: .8;
}

.header__button:active {
	opacity: .5;
}

.header__menu-list,
.header__logo-container {
	display: flex;
	align-items: center;
}

.header__menu-item:not(:last-of-type) {
	margin-right: 34px;

	@include tablet{
		margin-right: 0;
	}

	@include phone{
		margin-right: 0;
	}
}

.header__menu-item:not(:first-child){
	@include phone{
		display: none;
	}
}

.header__button-link{
	position: relative;
	text-decoration: none;
	color: $colorWhite;
}

.header__menu-item--basket{
	position: absolute;
	bottom: 18px;
	left: 22px;
	min-width: 19px;
	min-height: 19px;
	background-color: $colorPink;
	border-radius: 50%;
}

.name {
	position: relative;
	display: flex;
}

.name__img{
	@include tablet{
		width: 50%;
		height: auto;
	}

	@include phone{
		display: none;
	}
}

.name__header-span {
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 38px;
	color: $colorPink;

	@include tablet{
		font-size: 24px;
		line-height: 29px;
	}

	@include phone{
		font-size: 20px;
		line-height: 24px;
	}
}

.name__header-span-black{
	color: #000;
}

.name__header {
	font-size: 48px;
	font-style: normal;
	font-weight: 900;
	line-height: 58px;
	text-transform: uppercase;

	position: relative;
	padding: 0 0 0 28px;

	&::before{
		position: absolute;
		content: '';
		width: 12px;
		height: 100%;
		background-color: $colorPink;
		left: -12px;
	}

	@include tablet{
		margin-top: 38%;
		margin-bottom: 38%;
		font-size: 44px;
		line-height: 53px;
		padding: 0 0 0 16px;
	
		&::before{
			position: absolute;
			content: '';
			width: 12px;
			height: 100%;
			background-color: $colorPink;
			left: -12px;
		}
	}

	@include phone{
		width: 236px;
		margin: 148px auto;
		font-size: 38px;
		line-height: 46px;

		&::before{
			position: absolute;
			content: '';
			width: 12px;
			height: 100%;
			background-color: $colorPink;
			left: -12px;
		}
	}
}

.name__content {
	width: 100%;
	padding: 335px 0 0 64px;
	background-color: var(--pink-background);

	@include tablet{
		padding: 0;
		padding-left: 40px;
	}

	@include phone{
		padding: 0;
		padding-left: 56px;
	}
}

.name__menu {
	right: 0;
	height: 764px;
	position: absolute;
	padding-left: 33px;
	padding-right: 8%;
	background-color: $colorWhite;
	opacity: 0;

	svg{
		margin-left: 170px;
		cursor: pointer;
	}

	&:hover{opacity: 1;transition: 0.5s;}

	@include tablet{
		display: none;
		height: 368px;
	
		svg{
			margin-left: 87%;
		}
	}

	@include phone{
		display: none;
	}
}

.name__menu-title {
	margin-left: 1px;
	font-size: $fz14;
	font-weight: 700;
	text-transform: uppercase;
}

.name__menu-list-title {
	font-size: $fz14;
	text-transform: uppercase;
	color: $colorPink;
}

.name__menu-list {
	margin-left: 22px;
	font-size: $fz14;
	color: #6F6E6E;
}

.name__menu-list--item {
	line-height: 28px;
}

.name__menu-list--link{
	text-decoration: none;
	color: #6F6E6E;

	&:hover{
		color: black
	}
	
	&:focus,&:active{
		outline: none;
	}
}

.stock{
	width: 71%;
	margin: 0 auto;

	@include tablet{
		width: 96%;
		padding: 19px 0 155px;
	}

	@include phone{
		width: 91%;
		padding: 0;
	}
}

.stock__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 63px;

	@include tablet{
		margin-top: 19px;
	}

	@include phone{
		margin-top: 32px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.stock__item {
	width: 360px;
	background-image: url(../img/for-men.png);
	text-align: center;
	text-transform: uppercase;

	&:first-child{
		background-image: url(../img/stock-women.jpg);
	}
	
	&:nth-child(3){
		background-image: url(../img/for-kids.png);
	}

	@include tablet{
		width: 232px;
		background: url(../img/for-men.png) no-repeat;
		background-size: 100%;

		&:first-child{
			background-image: url(../img/stock-women.jpg);
		}
		
		&:nth-child(3){
			background-image: url(../img/for-kids.png);
		}
	}

	@include phone{
		width: 343px;
		margin-top: 32px;
	}
}

.stock__item-name{
	padding-top: 105px;
	font-size: 16px;
	color: $colorWhite;

	@include tablet{
		padding-top: 59px;
	}

	@include phone{
		padding-top: 98px;
	}
}

.stock__item-category{
	margin-top: -7px;
	font-size: 24px;
	font-weight: 700;
	color: $colorPink;
}

.stock__item-link{
	display: block;
	width: 100%;
	height: 260px;
	text-decoration: none;
	color: $colorPink;

	@include tablet{
		width: 232px;
		height: 158px;
	}

	@include phone{
		width: 343px;
		height: 247px;
	}
}

.stock__item--last {
	width: 100%;
	height: 180px;
	margin-top: 30px;
	background: url(../img/accesories.png) no-repeat;
	background-size: cover;

	@include tablet{
		height: 116px;
		margin-top: 19px;
		background-position: center 0;
		background-size: 100%;
	}

	@include phone{
		height: 111px;
		background-position: center center;
		background-size: cover;
	}

	.stock__item-link{
		width: 100%;
		height: 180px;

		@include tablet{
			width: 100%;
			height: 111px;
		}

		@include phone{
			height: 111px;
		}
	}

	.stock__item-name{
		padding-top: 65px;

		@include tablet{
			padding-top: 33px;
		}

		@include phone{
			padding-top: 30px;
		}
	}
}

.products{
	position: relative;
	width: 71%;
	margin: 0 auto;
	z-index: 5;

	@include tablet{
		width: 96%;
	}

	@include phone{
		width: 95.5%;
	}
}

.products__title{
	margin-top: 97px;
	text-align: center;
	font-size: 30px;

	@include tablet{
		margin-top: 0;
	}

	@include phone{
		margin-top: 64px;
	}
}

.products__title-info{
	font-size: $fz14;
	color: #9f9f9f;
}

.products__menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 17px;

	@include tablet{
		margin: 0;
		margin-top: 47px;
	}

	@include phone{
		margin: 0;
		margin-top: 65px;
	}
}

.products__list-info{
	margin-left: $products-menu-list-name-margin-left;
	width: 315px;
	height: 51px;
	font-size: $fz14;
	font-weight: $fw300;
	line-height: 17px;
	color: #5d5d5d;
}


.products__menu-list{
	position: relative;
	margin-top: 30px;
	background-color: #f8f8f8;
	cursor: pointer;
	
	&:hover{
		box-shadow: 0 0 0 2px $colorPink, 0 0 0 4px $colorPink;
		transition: 0.5s;
	}
	
	&:focus,&:active{
		outline: none;
	}

	@include tablet{
		margin-top: 17px;
		margin-left: auto;
		margin-right: auto;
	}

	@include phone{
		margin-top: 17px;
	}
}

.products__menu-link{
	text-decoration: none;
}

.products__list-hover{
	position: absolute;
	min-width: 360px;
	min-height: 420px;
	text-align: center;
	background-color: rgba(58, 56, 56, 0.86);
	opacity: 0;

	&:hover{
		opacity: 1;
		transition: 0.5s;
	}
}

.products__hover-button{
	position: relative;
	top: 189px;
	padding-left: 50px;
	padding-top: 13px;
	padding-right: 16px;
	padding-bottom: 13px;
	background: none;
	font-size: 14px;
	color: $colorWhite;
	border: 1px solid $colorWhite;
	background: url(../img/white-basket.svg) no-repeat 15px;
}

.products__list-name {
	margin-left: $products-menu-list-name-margin-left;
	font-size: 13px;
	text-transform: uppercase;
	color: #000000;
}

.products__list-price {
	margin-top: 18px;
	padding-bottom: 20px;
	margin-left: $products-menu-list-name-margin-left;
	font-size: 16px;
	color: $colorPink;
}

.products__button{
	display: flex;
	padding: 15px 39px;
	margin-top: 49px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #FF6A6A;
	background-color: $colorWhite;
	color: #F26376;
	cursor: pointer;

	&:focus,&:active{
		outline: none;
	}
	&:hover{
		color: white;
		background-color: $colorPink;
		transition: 0.6s;
	}

	@include tablet{
		display: flex;
		margin-top: 49px;
		margin-left: auto;
		margin-right: auto;
	}
}

.feature {
	margin-top: 96px;
	background: #222224;

	@include tablet{
		margin-top: 65px;
		padding-bottom: 64px;
	}

	@include phone{
		margin-top: 97px;
	}
}

.feature__block{
	width: 96%;
	margin: 0 auto;

	@include tablet{
		width: 96%;
	}

	@include phone{
		width: 93%;
		padding-bottom: 81px;
	}
}

.feature__menu {
	display: flex;
	justify-content: space-around;

	@include tablet{
		flex-direction: column;
	}

	@include phone{
		flex-direction: column;
		justify-content: flex-start;
	}
}

.feature__menu-list {
	margin-top: 103px;
	padding-top: 50px;
	color: $colorWhite;

	&:first-child{
		background: url(../img/free-delivery-car.svg) no-repeat;
		background-position: center 0;
	}

	&:nth-child(2){
		background: url(../img/sales.svg) no-repeat;
		background-position: center 0;
	}

	&:last-child{
		background: url(../img/quality-assurance.svg) no-repeat;
		background-position: center 0;
	}

	@include tablet{
		text-align: center;
		margin-top: 48px;
	}

	@include phone{
		margin-top: 47px;
		text-align: center;
	}
}

.feature__list-title{
	margin-left: 90px;
	font-size: 20px;
	font-weight: $fw300;

	@include tablet{
		margin-left: 0;
	}

	@include phone{
		margin-left: 0;
	}
}

.feature__list-info{
	margin-top: 16px;
	padding-bottom: 104px;
	text-align: center;
	font-size: $fz14;
	line-height: 17px;
	font-weight: $fw300;

	@include tablet{
		padding-bottom: 0;
	}

	@include phone{
		padding-bottom: 0;
	}
}

.feature__menu-list:nth-child(2){
	.feature__list-title{
		margin-left: 75px;

		@include tablet{
			margin-left: 0;
		}

		@include phone{
			margin-left: 0;
		}
	}
}

.feature__menu-list:last-child{
	.feature__list-title{
		margin-left: 70px;

		@include tablet{
			margin-left: 0;
		}

		@include phone{
			margin-left: 0;
		}
	}
}

.footer__subscribe{
	height: 448px;
	background: url(../img/subscribe-bg.png) no-repeat;
	background-size: cover;

	@include tablet{
		padding-bottom: 140px;
		background-position: center 0;
	}

	@include phone{
		padding-bottom: 110px;
		background-position: left center;
	}
}

.footer__subscribe-block{
	padding-top: 87px;
	display: flex;
	width: 1140px;
	margin: 0 auto;

	@include tablet{
		padding-top: 54px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 96%;
		margin: 0 auto;
	}

	@include phone{
		padding-top: 54px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 91%;
		margin: 0 auto;
	}
}

.footer__subscribe-info{
	max-width: 360px;
	text-align: center;

	&::before{
		content: url(../img/subscribe-photo.png);
	}
}

.subscribe__info-text{
	font-size: 20px;
	color: #222224;
}


.footer__subscribe-form{
	margin-left: 280px;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;

	@include tablet{
		margin-left: 0;
	}

	@include phone{
		margin-left: 0;
		margin: 0 auto;
	}
}

.subscribe__form-title{
	font-size: 14px;
	margin: 0 auto 32px auto;

	&::first-line{
		font-size: 24px;
		font-weight: 700;
	}

	@include tablet{
		margin-top: 48px;
		margin-bottom: 27px;
	}

	@include phone{
		width: 271px;
		margin-top: 59px;
		margin-bottom: 22px;
	}
}

.subscribe__form-input{
	height: 47px;
	width: 256px;
	padding-left: 22px;
	font-size: $fz14;
	color: #222224;
	background-color: #E1E1E1;
	border: 0px solid #E1E1E1;
	border-radius: 15px 0 0 15px;

	&:focus,&:active{
		outline: none;
	}

	@include tablet{
		width: 323px;
		padding-left: 22px;
	}

	@include phone{
		width: 245px;
		padding-left: 21px;
		margin-left: 30px;
	}
}

.subscribe__form-button{
	height: 49px;
	width: 100px;
	margin-left: -3px;
	font-size: $fz14;
	color: $colorWhite;
	background-color: $colorPink;
	border-radius: 0 15px 15px 0;
	border: 0px solid $colorPink;
	cursor: pointer;

	&:focus,&:active{
		outline: none;
	}

	&:hover{
		box-shadow: 0 0 0 2px $colorWhite, 0 0 0 4px $colorPink;
		transition: 0.5s;
	}

	@include tablet{
		margin-left: -100px;
	}

	@include phone{
		width: 96px;
		margin-left: -57px;
	}
}

.footer__copyright {
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	background-color: #222224;
	font-size: 16px;
	color: $colorWhite;

	@include tablet{
		justify-content: space-between;
	}

	@include phone{
		flex-direction: column-reverse;
		padding-top: 43px;
		padding-bottom: 9px;
	}
}

.footer__copyright-text {
	@include tablet{
		margin-left: 4%;
	}

	@include phone{
		display: flex;
		justify-content: center;
		margin-top: 40px;
	}
}

.footer__social {
	display: flex;

	@include tablet{
		padding-right: 4%;
	}

	@include phone{
		flex-wrap: wrap;
		justify-content: center;
	}
}

.footer__social-list{
	width: 32px;
	height: 32px;
	background-color: $colorWhite;
	text-align: center;
	cursor: pointer;

	&:nth-child(2){
		background-color: $colorPink;;
	}

	&:focus,&:active{
		outline: none;
	}
	
	&:not(:last-child){
		margin-right: 7px;
	}
	
	&:hover{
		box-shadow: 0 0 0 1px $colorWhite, 0 0 0 2px $colorPink;
		transition: 0.5s;
	}
}


/******************[ CATALOG PAGE ]**********************/

.name__content-block{
	padding: 59px 0 60px 0;
	width: 100%;
	background-color: var(--pink-background);
	text-transform: uppercase;
}

.name__content-title{
	font-size: 24px;
	color: $colorPink;
}

.name__content-block{
	display: flex;
	
	.name__content-title{
		margin-left: 230px;

		@include tablet{
			margin-left: 16px;
		}

		@include phone{
			margin-left: 0;
		}
	}

	@include phone{
		justify-content: center;
		flex-wrap: wrap;
	}
}

.name__navigation{
	display: flex;
	margin-left: 737px;

	@include tablet{
		margin-left: 317px;
	}

	@include phone{
		margin-left: 0;
		margin-top: 32px;
		justify-content: center;
	}
}

.name__navigation-list{
	display: flex;
	font-size: $fz14;
	font-weight: $fw300;
	color: #636363;

	&:not(:first-child)::before{
		content: '/';
		margin-left: 14px;
		margin-right: 14px;
		font-weight: $fw300;
		color: #636363;
	}
}

.name__navigation-link{
	text-decoration: none;
	font-size: $fz14;
	font-weight: $fw300;
	color: black;
	opacity: 0.5;
	border-bottom: 3px solid transparent;

	&:focus,&:active{
		outline: none;
	}
}

.name__navigation-link:hover{
	opacity: 1;
	border-bottom: 3px solid $colorPink;
	transition: border 1s;
}

.name__content-selected{
	font-weight: 700;
	color: $colorPink;
	opacity: 1;
	cursor: default;

	&:focus,&:active{
		outline: none;
	}

	&:hover{
		border-bottom: 0px solid #000;
		transition: border 0s;
	}
}

.products__filter__line{
	display: flex;
	text-transform: uppercase;
	margin-top: 51px;

	@include tablet{
		margin-top: 24px;
	}

	@include phone{
		margin-top: 24px;
	}
}

.products__filter {
	font-weight: 700;
	font-size: $fz14;
	text-transform: uppercase;
	background: none;
	border: none;
	z-index: 4;
	
	@include phone{
		display: none;
	}

	&:focus,&:active{
		outline: none;
	}

	&::after{
		content: url(../img/filter-icon.svg);
		margin-left: 11px;
	}

	&:hover{
		color: #EF5B70;
		cursor: pointer;
	}
}

.products__filter-image{
	display: none;

	@include phone{
		display: block;
	}
}

.products__filter-list {
	display: flex;
	margin-left: 320px;
}

.products__block{
	@include phone{
		margin-top: 32px;
	}
}

.products__block-list{
	@include tablet{
		&:nth-child(3){
			display: none;
		}
	}

	@include phone{
		margin-top: 0;

		&:nth-child(3){
			display: none;
		}
	}
}

.filter__list-item--title{
	margin-left: 30px;
	font-size: $fz14;
	text-transform: uppercase;
	background: none;
	border: none;
	color: #6F6E6E;

	@include tablet{
		margin-left: 28px;
	}

	@include phone{
		margin-left: 9px;
		font-size: 12px;
	}

	&::after{
		content: url(../img/filter-arrow.svg);
		margin-left: 10px;

		@include phone{
			margin-left: 9px;
		}
	}

	&:hover{
		color: black;
		cursor: pointer;
	}

	&:focus,&:active{
		opacity: 0.5;
		outline: none;
	}
}

.filter__extended {
	margin-left: -18px;
	padding-top: 28px;
	padding-left: 29px;
	padding-bottom: 16px;
	min-width: 360px;
	min-height: 531px;
	position: absolute;
	z-index: 3;
	background-color: $colorWhite;
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	opacity: 0;

	@include tablet{
		display: none;
	}

	@include phone{
		display: none;
	}

	&:hover{
		opacity: 1;
		transition: .3s;
	}
}

.filter__category-title {
	position: relative;
	margin-top: 18px;
	font-size: $fz14;
	color: #EF5B70;
	cursor: default;

	&::before{
		position: absolute;
		content: '';
		width: 5px;
		height: 100%;
		background-color: $colorPink;
		left: -12px;
		z-index: 2;
	}

	&::after{
		position: absolute;
		content: '';
		width: 328px;
		height: 1px;
		background-color: #EBEBEB;
		top: 35px;
		left: -12px;
		z-index: 1;
	}

	&:hover{
		opacity: 0.8;
	}

	&:active, &:focus{
		outline: none;
	}
}

.filter__extended-list {
	margin-left: 12px;
	margin-top: 25px;
}

.filter__extended-item {
	max-width: 140px;
	font-size: $fz14;
	color: #6F6E6E;
	text-transform: initial;
	line-height: 28px;
	cursor: default;

	&:hover{
		opacity: 0.8;
	}

	&:active, &:focus{
		outline: none;
	}
}

.filter__size{
	display: block;
	position: absolute;
	left: 620px;
	top: 33px;
	padding-right: 30px;
	padding-left: 10px;
	padding-bottom: 8px;
	background: #FFFFFF;
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	z-index: 6;
	opacity: 0;

	@include tablet{
		display: none;
	}

	@include phone{
		display: none;
	}

	&:hover{
		opacity: 1;
		transition: .3s;
	}
}

.filter__size-input{
	width: 12px;
	height: 12px;
	border: 1px solid #EBEBEB;
}

.filter__size-name{
	font-family: 'Roboto', sans-serif;
	font-size: $fz14;
	color: #6F6E6E;
	line-height: 16px;
}

.products__pagination{
	max-width: 252px;
	margin: 0 auto;
	margin-top: 48px;
	padding-right: 16px;
	display:-ms-flexbox;
	display:flex;
	padding-left:0;
	list-style:none;
	border-radius: 5px;
	border: 1px solid #EBEBEB;

	@include tablet{
		margin-top: 40px;
	}

	@include phone{
		margin-top: 41px;
	}

	&:focus,&:active{
		outline: none;
	}
}

.products__pagination-list:first-child::before{
	content: url(../img/pagination-left-arrow.svg);
	margin-left: 16px;
	cursor: pointer;
}

.products__pagination-list:last-child::after{
	content: url(../img/pagination-right-arrow.svg);
	margin-left: 16px;
	cursor: pointer;
}

.products__pagination-list:nth-child(8){
	font-size: 16px;
	padding-top: 6px;
	opacity: 0.3;
}

.products__pagination-link{
	color: #000;
	text-decoration: none;
	font-size: 16px;
	font-weight: $fw300;
	margin-left: 16px;
	opacity: 0.3;

	@include phone{
		margin-left: 18px;
	}

	&:focus,&:active{
		outline: none;
	}
}

.products__pagination-selected{
	color: $colorPink;
	opacity: 1;

	&:focus,&:active{
		outline: none;
	}
}

.products__pagination-link:hover{
	opacity: 1;
	transition: 0.5s;
}

/******************[ PRODUCT PAGE ]**********************/

.product__slider{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 777px;
	background-image: url(../img/img-slider.png);
	background-position: center center;
	z-index: 1;

	.slider__arrow-img{
		width: 47px;
		height: 47px;
		padding-top: 13px;
		padding-bottom: 13px;
		padding-right: 13px;
		background: rgba(42, 42, 42, 0.15);
	}

	.slider__arrow-img:hover{
		cursor: pointer;
	}
}

.product__arrow-img:last-child{
	padding-right: 0;
	padding-left: 13px;
}

.product__info {
	max-width: 1140px;
	margin: 0 auto;
	margin-top: -40px;
	padding-bottom: 65px;
	border: 1px solid #EAEAEA;
	background-color: $colorWhite;
	z-index: 2;
}

.product__info-block {
	margin: 0 auto;
	max-width: 641px;
	text-align: center;
}

.product__info-block--title {
	margin-top: 62px;
	font-size: $fz14;
	font-weight: $fw300;
	text-transform: uppercase;
	color: $colorPink;

	&::after{
		content: url(../img/product-pink-hr.svg);
	}
}

.product__info-name {
	font-size: 18px;
	font-weight: $fw300;
	text-transform: uppercase;
	color: #4D4D4D;
}

.product__info-about {
	margin-top: 48px;
	font-size: $fz14;
	font-weight: $fw300;
	text-align: center;
	line-height: 17px;
	color: #5E5E5E;
}

.product__info-price {
	margin-top: 32px;
	font-size: 24px;
	font-weight: $fw300;
	color: #EF5B70;

	&::after{
		content: url(../img/product-grey-hr.svg);
	}
}

.products__filter-list {
	display: flex;
	margin: 0 auto;

	@include tablet{
		margin-left: 283px;
	}

	@include phone{
		margin-left: 38px;
	}
}

.save-product-button {
	padding-left: 73px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 57px;
	margin-top: 49px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #FF6A6A;
	background-color: $colorWhite;
	background: url(../img/product-button-img.svg) no-repeat 20px;
	color: #F26376;
	cursor: pointer;

	&:focus,&:active{
		outline: none;
	}

	&:hover{
		color: white;
		background-color: $colorPink;
		transition: 0.6s;
	}
}

.footer__product{
	margin-top: 128px;
}

/******************[ CART PAGE ]**********************/

.cart {
	display: flex;
	flex-wrap: wrap;
	margin-top: 96px;
	padding-left: 230px;
}

.cart__products-list {
	background-color: $colorWhite;
}

.cart__products-item {
	display: flex;
	margin-top: 40px;
	box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart__products__info-block{
	position: relative;
	width: 390px;
	margin-left: 31px;
	margin-top: 22px;
	color: #575757;

	.cart__products-remove{
		position: absolute;
		left: 350px;
		right: 22px;
		top: 12px;
		cursor: pointer;
	}
}

.cart__products-remove{
	&:hover{
		opacity: .8;
	}

	&:focus,&:active{
		outline: none;
		opacity: .5;
	}
}

.cart__products-title {
	width: 262px;
	text-transform: uppercase;
	color: #000;
}

.cart__products-price {
	margin-top: 42px;

	.cart__products-price--dollar{
		color: $colorPink;
	}
}

.cart__products-form{
	display: flex;

	.cart__products-input {
		margin-left: 24px;
		width: 27px;
		padding-left: 16px;
		font-size: 18px;
		text-align: center;
		color: #656565;
		border: 1px solid #EAEAEA;

		&::placeholder{
			text-align: center;
			font-size: 18px;
			color: #656565;
		}

		&:focus,&:active{
			outline: none;
		}
	}
}

.cart__total {
	margin-left: 128px;
	padding-top: 40px;
}

.cart__total-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: $fw300;
	color: #000;
}

.cart__total-form {
	max-width: 360px;
}

.cart__total-input {
	margin-top: 20px;
	padding-left: 17px;
	padding-top: 13px;
	padding-bottom: 16px;
	padding-right: 170px;
	font-size: 13px;
	font-weight: $fw300;
	border: 1px solid #A4A4A4;

	&:focus,&:active{
		outline: none;
	}

	&::placeholder{
		font-size: 13px;
		font-weight: $fw300;
		color: #222222;
	}

	&:first-child::placeholder{
		color: #B1B1B1;
	}
}

.cart__address-button {
	margin-top: 24px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 11px;
	padding-right: 12px;
	font-size: 11px;
	text-transform: uppercase;
	color: #4A4A4A;
	background: $colorWhite;
	border: 1px solid #A4A4A4;
	cursor: pointer;

	&:focus,&:active{
		outline: none;
	}
}

.cart__total-payment {
	width: 360px;
	margin-top: 58px;
	padding-top: 39px;
	padding-bottom: 42px;
	text-transform: uppercase;
	background: #F5F3F3;
}

.total__payment-subtotal {
	margin-left: 218px;
	font-size: 11px;
	color: #4A4A4A;
}

.total__payment-grandtotal {
	margin-left: 153px;
	font-size: 16px;
	font-weight: $fw300;
	color: #222222;

	.cart__grandtotal-price{
		color: $colorPink;
	}
}

.cart__subtotal-price, .cart__grandtotal-price{
	margin-left: 20px;
}

.total__payment-hr{
	width: 275px;
	background: #E2E2E2;
}

.total__payment-button {
	padding-left: 41px;
	padding-right: 43px;
	padding-top: 15px;
	padding-bottom: 16px;
	margin-left: 44px;
	margin-top: 17px;
	text-transform: uppercase;
	color: $colorWhite;
	background: $colorPink;
	border: 0px solid black;
	cursor: pointer;

	&:focus,&:active{
		outline: none;
	}
}

.cart__buttons-form{
	width: 781px;
	display: flex;
	justify-content: space-between;
	margin-top: 73px;
}

.cart__buttons-clear,.cart__buttons-shopping {
	padding: 16px 39px;
	font-size: $fz14;
	font-weight: $fw300;
	text-transform: uppercase;
	background: $colorWhite;
	border: 1px solid #A4A4A4;
	cursor: pointer;

	&:hover{
		background: $colorPink;
		color: $colorWhite;
		transition: 0.5s;
	}

	&:focus,&:active{
		outline: none;
	}
}

/******************[ REGISTRATION PAGE ]**********************/

.registration{
	display: flex;
	margin-top: 34px;
}

.registration__form{
	margin-left: 230px;
}

.registration__form-name {
	margin-top: 33px;
	font-size: 16px;
	font-weight: 300;
	color: #222222;
}

.registration__form-input {
	margin-top: 20px;
	padding-left: 17px;
	padding-top: 13px;
	padding-bottom: 16px;
	padding-right: 278px;
	font-size: 13px;
	font-weight: 300;
	color: #B1B1B1;
	border: 1px solid #A4A4A4;

	&:focus, &:active{
		outline: none;
		border: 1px solid #A4A4A4;
	}
}


.registration__radio-form{
	display: flex;
	margin-top: 31px;
}

.registration__radio{
	position: relative;
}

.registration__form-radio{
	width: 17px;
	height: 17px;
	margin-right: 54px;
}

.registration__radio-label{
	position: absolute;
	left: 34px;
	top: 3px;
	font-size: 11px;
	font-weight: 300;
}

.registration__password-memo {
	margin-top: 16px;
	max-width: 359px;
	font-size: 13px;
	font-weight: 300;
	line-height: 16px;
	color: #B1B1B1;
}

.registration__form-button{
	margin-top: 39px;
	padding: 16px 29px;
	text-transform: uppercase;
	color: #fff;
	background-color: #F16D7F;
	border: 0px solid black;
	cursor: pointer;
}

.registration__form-button--text::after{
	content: url(../img/registration-button-arrow.svg);
	margin-left: 20px;
}

.registration__loyalty__block {
	margin-top: 33px;
	margin-left: 128px;
}

.loyalty__block-title {
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

.loyalty__block-info {
	margin-top: 22px;
	max-width: 652px;
	font-size: 24px;
	font-weight: 300;
	line-height: 29px;
}

.loyalty__block-list {
	margin-top: 21px;
}

.loyalty__block-item {
	font-size: 24px;
	font-weight: 300;

	&::before{
		content: url(../img/registration-loyalty-check-mark.svg);
		padding-right: 23px;
	}
}