@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local("Lato-Light"), url(../fonts/Lato-Light.ttf) format(ttf);
}
@font-face {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Lato-Regular"), url(../fonts/Lato-Regular.ttf) format(ttf);
}
@font-face {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Lato-Bold"), url(../fonts/Lato-Bold.ttf) format(ttf);
}
@font-face {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  src: local("Lato-Black"), url(../fonts/Lato-Black.ttf) format(ttf);
}
:root {
  --black-color: #222222;
  --pink-color: $colorPink;
  --pink-background: #F1E4E6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

p {
  margin-bottom: 0;
}

.container {
  width: 92%;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}

.header {
  background-color: var(--black-color);
}

.header__container {
  display: flex;
  width: 92%;
  height: 75px;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .header__container {
    height: 74px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .header__container {
    height: 74px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .header__search {
    margin-left: 0;
  }
}

.header__logo:focus, .header__logo-container a:focus, .header__logo:active, .header__logo-container a:active, .header__button:focus, .header__button:active {
  outline: none;
  border: none;
}

.header__button {
  background-color: transparent;
  border: none;
  margin-left: 41px;
}

.header__button:first-child {
  margin-top: 12px;
}

.header__button:hover,
.header__button:focus {
  opacity: 0.8;
}

.header__button:active {
  opacity: 0.5;
}

.header__menu-list,
.header__logo-container {
  display: flex;
  align-items: center;
}

.header__menu-item:not(:last-of-type) {
  margin-right: 34px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .header__menu-item:not(:last-of-type) {
    margin-right: 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .header__menu-item:not(:last-of-type) {
    margin-right: 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__menu-item:not(:first-child) {
    display: none;
  }
}

.header__button-link {
  position: relative;
  text-decoration: none;
  color: #fff;
}

.header__menu-item--basket {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 18px;
  left: 22px;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  border-radius: 50%;
  font-size: 12px;
}

.name {
  position: relative;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .name__img {
    width: 50%;
    height: auto;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .name__img {
    display: none;
  }
}

.name__header-span {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: #F16D7F;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .name__header-span {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .name__header-span {
    font-size: 20px;
    line-height: 24px;
  }
}

.name__header-span-black {
  color: #000;
}

.name__header {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 0 28px;
}
.name__header::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -12px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .name__header {
    margin-top: 38%;
    margin-bottom: 38%;
    font-size: 44px;
    line-height: 53px;
    padding: 0 0 0 16px;
  }
  .name__header::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 100%;
    background-color: #F16D7F;
    left: -12px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .name__header {
    width: 236px;
    margin: 148px auto;
    font-size: 38px;
    line-height: 46px;
  }
  .name__header::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 100%;
    background-color: #F16D7F;
    left: -12px;
  }
}

.name__content {
  width: 100%;
  padding: 335px 0 0 64px;
  background-color: var(--pink-background);
}
@media (min-width: 768px) and (max-width: 1599px) {
  .name__content {
    padding: 0;
    padding-left: 40px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .name__content {
    padding: 0;
    padding-left: 56px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .name__content-title {
    font-size: 24px;
  }
}

.name__menu {
  right: 0;
  height: 764px;
  position: absolute;
  padding-left: 33px;
  padding-right: 8%;
  background-color: #fff;
  opacity: 0;
}
.name__menu svg {
  margin-left: 170px;
  cursor: pointer;
}
.name__menu:hover {
  opacity: 1;
  transition: 0.5s;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .name__menu {
    display: none;
    height: 368px;
  }
  .name__menu svg {
    margin-left: 87%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .name__menu {
    display: none;
  }
}

.name__menu-title {
  margin-left: 1px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.name__menu-list-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #F16D7F;
}

.name__menu-list {
  margin-left: 22px;
  font-size: 14px;
  color: #6F6E6E;
}

.name__menu-list--item {
  line-height: 28px;
}

.name__menu-list--link {
  text-decoration: none;
  color: #6F6E6E;
}
.name__menu-list--link:hover {
  color: black;
}
.name__menu-list--link:focus, .name__menu-list--link:active {
  outline: none;
}

.stock {
  width: 71%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .stock {
    width: 96%;
    padding: 19px 0 155px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .stock {
    width: 91%;
    padding: 0;
  }
}

.stock__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 63px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .stock__list {
    margin-top: 19px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .stock__list {
    margin-top: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.stock__item {
  width: 360px;
  background-image: url(../img/for-men.png);
  text-align: center;
  text-transform: uppercase;
}
.stock__item:first-child {
  background-image: url(../img/stock-women.jpg);
}
.stock__item:nth-child(3) {
  background-image: url(../img/for-kids.png);
}
@media (min-width: 768px) and (max-width: 1599px) {
  .stock__item {
    width: 232px;
    background: url(../img/for-men.png) no-repeat;
    background-size: 100%;
  }
  .stock__item:first-child {
    background-image: url(../img/stock-women.jpg);
  }
  .stock__item:nth-child(3) {
    background-image: url(../img/for-kids.png);
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .stock__item {
    width: 343px;
    margin-top: 32px;
  }
}

.stock__item-name {
  padding-top: 105px;
  font-size: 16px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .stock__item-name {
    padding-top: 59px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .stock__item-name {
    padding-top: 98px;
  }
}

.stock__item-category {
  margin-top: -7px;
  font-size: 24px;
  font-weight: 700;
  color: #F16D7F;
}

.stock__item-link {
  display: block;
  width: 100%;
  height: 260px;
  text-decoration: none;
  color: #F16D7F;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .stock__item-link {
    width: 232px;
    height: 158px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .stock__item-link {
    width: 343px;
    height: 247px;
  }
}

.stock__item--last {
  width: 100%;
  height: 180px;
  margin-top: 30px;
  background: url(../img/accesories.png) no-repeat;
  background-size: cover;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .stock__item--last {
    height: 116px;
    margin-top: 19px;
    background-position: center 0;
    background-size: 100%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .stock__item--last {
    height: 111px;
    background-position: center center;
    background-size: cover;
  }
}
.stock__item--last .stock__item-link {
  width: 100%;
  height: 180px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .stock__item--last .stock__item-link {
    width: 100%;
    height: 111px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .stock__item--last .stock__item-link {
    height: 111px;
  }
}
.stock__item--last .stock__item-name {
  padding-top: 65px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .stock__item--last .stock__item-name {
    padding-top: 33px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .stock__item--last .stock__item-name {
    padding-top: 30px;
  }
}

.products {
  position: relative;
  width: 71%;
  margin: 0 auto;
  z-index: 5;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .products {
    width: 96%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .products {
    width: 95.5%;
  }
}

.products__title {
  margin-top: 97px;
  text-align: center;
  font-size: 30px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .products__title {
    margin-top: 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .products__title {
    margin-top: 64px;
  }
}

.products__title-info {
  font-size: 14px;
  color: #9f9f9f;
}

.products__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 17px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .products__menu {
    margin: 0;
    margin-top: 47px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .products__menu {
    margin: 0;
    margin-top: 65px;
  }
}

.products__list-info {
  margin-left: 18px;
  width: 315px;
  height: 51px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5d5d5d;
}

.products__menu-list {
  position: relative;
  margin-top: 30px;
  background-color: #f8f8f8;
  cursor: pointer;
}
.products__menu-list:hover {
  box-shadow: 0 0 0 2px #F16D7F, 0 0 0 4px #F16D7F;
  transition: 0.5s;
}
.products__menu-list:focus, .products__menu-list:active {
  outline: none;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .products__menu-list {
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .products__menu-list {
    margin-top: 17px;
  }
}

.products__menu-link {
  text-decoration: none;
}

.products__list-hover {
  position: absolute;
  min-width: 360px;
  min-height: 420px;
  text-align: center;
  background-color: rgba(58, 56, 56, 0.86);
  opacity: 0;
}
.products__list-hover:hover {
  opacity: 1;
  transition: 0.5s;
}

.products__hover-button {
  position: relative;
  top: 189px;
  padding-left: 50px;
  padding-top: 13px;
  padding-right: 16px;
  padding-bottom: 13px;
  background: none;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  background: url(../img/white-basket.svg) no-repeat 15px;
}

.products__list-name {
  margin-left: 18px;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
}

.products__list-price {
  margin-top: 18px;
  padding-bottom: 20px;
  margin-left: 18px;
  font-size: 16px;
  color: #F16D7F;
}

.products__button {
  display: flex;
  padding: 15px 39px;
  margin-top: 49px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #FF6A6A;
  background: #fff;
  color: #F26376;
  transform: translate(-50%, -50%);
  outline: none;
  cursor: pointer;
}
.products__button:hover {
  color: #fff;
}
.products__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F16D7F;
  background-image: linear-gradient(147deg, #F16D7F 0%, #ff25e2 74%);
  z-index: -1;
  -webkit-clip-path: circle(0% at 50% 100%);
          clip-path: circle(0% at 50% 100%);
  transition: all 0.8s;
}
.products__button:hover::before {
  -webkit-clip-path: circle(100% at 50% 100%);
          clip-path: circle(100% at 50% 100%);
}
.products__button:focus, .products__button:active {
  outline: none;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .products__button {
    display: flex;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }
}

.feature {
  margin-top: 96px;
  background: #222224;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .feature {
    margin-top: 65px;
    padding-bottom: 64px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .feature {
    margin-top: 97px;
  }
}

.feature__block {
  width: 96%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .feature__block {
    width: 96%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .feature__block {
    width: 93%;
    padding-bottom: 81px;
  }
}

.feature__menu {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .feature__menu {
    flex-direction: column;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .feature__menu {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.feature__menu-list {
  margin-top: 103px;
  padding-top: 50px;
  color: #fff;
}
.feature__menu-list:first-child {
  background: url(../img/free-delivery-car.svg) no-repeat;
  background-position: center 0;
}
.feature__menu-list:nth-child(2) {
  background: url(../img/sales.svg) no-repeat;
  background-position: center 0;
}
.feature__menu-list:last-child {
  background: url(../img/quality-assurance.svg) no-repeat;
  background-position: center 0;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .feature__menu-list {
    text-align: center;
    margin-top: 48px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .feature__menu-list {
    margin-top: 47px;
    text-align: center;
  }
}

.feature__list-title {
  margin-left: 90px;
  font-size: 20px;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .feature__list-title {
    margin-left: 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .feature__list-title {
    margin-left: 0;
  }
}

.feature__list-info {
  margin-top: 16px;
  padding-bottom: 104px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .feature__list-info {
    padding-bottom: 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .feature__list-info {
    padding-bottom: 0;
  }
}

.feature__menu-list:nth-child(2) .feature__list-title {
  margin-left: 75px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .feature__menu-list:nth-child(2) .feature__list-title {
    margin-left: 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .feature__menu-list:nth-child(2) .feature__list-title {
    margin-left: 0;
  }
}

.feature__menu-list:last-child .feature__list-title {
  margin-left: 70px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .feature__menu-list:last-child .feature__list-title {
    margin-left: 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .feature__menu-list:last-child .feature__list-title {
    margin-left: 0;
  }
}

.footer__subscribe {
  margin-top: 129px;
  height: 448px;
  background: url(../img/subscribe-bg.png) no-repeat;
  background-size: cover;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__subscribe {
    padding-bottom: 140px;
    background-position: center 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe {
    padding-bottom: 110px;
    background-position: left center;
  }
}

.footer__subscribe-block {
  padding-top: 87px;
  display: flex;
  width: 1140px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__subscribe-block {
    padding-top: 54px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
    margin: 0 auto;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe-block {
    padding-top: 54px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 91%;
    margin: 0 auto;
  }
}

.footer__subscribe-info {
  max-width: 360px;
  text-align: center;
}
.footer__subscribe-info::before {
  content: url(../img/subscribe-photo.png);
}

.subscribe__info-text {
  width: 359px;
  font-size: 20px;
  color: #222224;
}
@media (min-width: 375px) and (max-width: 767px) {
  .subscribe__info-text {
    width: 343px;
    font-size: 18px;
    font-style: italic;
    line-height: 22px;
  }
}

.footer__subscribe-form {
  margin-left: 280px;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__subscribe-form {
    margin-left: 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe-form {
    margin-left: 0;
    margin: 0 auto;
  }
}

.subscribe__form-title {
  font-size: 14px;
  margin: 0 auto 32px auto;
}
.subscribe__form-title::first-line {
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .subscribe__form-title {
    margin-top: 48px;
    margin-bottom: 27px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .subscribe__form-title {
    width: 271px;
    margin-top: 59px;
    margin-bottom: 22px;
  }
}

.subscribe__form-input {
  height: 47px;
  width: 256px;
  padding-left: 22px;
  font-size: 14px;
  color: #222224;
  background-color: #E1E1E1;
  border: 0px solid #E1E1E1;
  border-radius: 15px 0 0 15px;
}
.subscribe__form-input:focus, .subscribe__form-input:active {
  outline: none;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .subscribe__form-input {
    width: 323px;
    padding-left: 22px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .subscribe__form-input {
    width: 245px;
    padding-left: 21px;
    margin-left: 30px;
  }
}

.subscribe__form-button {
  height: 49px;
  width: 100px;
  margin-left: -3px;
  font-size: 14px;
  color: #fff;
  background: #F16D7F;
  border-radius: 0 15px 15px 0;
  border: 0px solid #F16D7F;
  cursor: pointer;
}
.subscribe__form-button:focus, .subscribe__form-button:active {
  outline: none;
}
.subscribe__form-button:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #F16D7F;
  transition: 0.5s;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .subscribe__form-button {
    margin-left: -100px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .subscribe__form-button {
    width: 96px;
    margin-left: -57px;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #222224;
  font-size: 16px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__copyright {
    justify-content: space-between;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .footer__copyright {
    flex-direction: column-reverse;
    padding-top: 43px;
    padding-bottom: 9px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .footer__copyright-text {
    margin-left: 4%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .footer__copyright-text {
    display: flex;
    justify-content: center;
  }
}

.facebook:before, .pinterest:before, .twitter:before {
  background-color: #fff;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.7) 49%, white 50%);
}

.instagram:before {
  background-color: #F16D7F;
  background: linear-gradient(45deg, rgba(240, 99, 164, 0.8) 0%, rgba(240, 99, 164, 0.7) 49%, #f063a4 50%);
}

.footer__copyright-social {
  display: flex;
  width: 148px;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .footer__copyright-social {
    padding-right: 4%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .footer__copyright-social {
    margin: 0 auto;
  }
}

.social__block-link {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  position: relative;
  transition: transform 0.5s ease-in-out;
  margin: 0 20px;
}
.social__block-link:before {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  content: "";
  position: absolute;
  background-size: 289%;
  background-position: 0% 0%;
  transition: background-position 0.55s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}
.social__block-link:hover, .social__block-link:active, .social__block-link:focus {
  transform: translateY(-16px);
  padding-bottom: 32px;
}
.social__block-link:hover:before, .social__block-link:active:before, .social__block-link:focus:before {
  background-position: top right;
}
.social__block-link + .social__block-link {
  margin-left: 4px;
}

.fab {
  z-index: 1;
}

/******************[ CATALOG PAGE ]**********************/
.name__content-block {
  padding: 59px 0 60px 0;
  width: 100%;
  background-color: var(--pink-background);
  text-transform: uppercase;
}

.name__content-title {
  font-size: 24px;
  color: #F16D7F;
}

.name__content-block {
  display: flex;
}
.name__content-block .name__content-title {
  margin-left: 230px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .name__content-block .name__content-title {
    margin-left: 16px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .name__content-block .name__content-title {
    margin-left: 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .name__content-block {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.name__navigation {
  display: flex;
  margin-left: 737px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .name__navigation {
    margin-left: 317px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .name__navigation {
    margin-left: 0;
    margin-top: 32px;
    justify-content: center;
  }
}

.name__navigation-list {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  color: #636363;
}
.name__navigation-list:not(:first-child)::before {
  content: "/";
  margin-left: 14px;
  margin-right: 14px;
  font-weight: 300;
  color: #636363;
}

.name__navigation-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: black;
  opacity: 0.5;
  border-bottom: 3px solid transparent;
}
.name__navigation-link:focus, .name__navigation-link:active {
  outline: none;
}

.name__navigation-link:hover {
  opacity: 1;
  border-bottom: 3px solid #F16D7F;
  transition: border 1s;
}

.name__content-selected {
  font-weight: 700;
  color: #F16D7F;
  opacity: 1;
  cursor: default;
}
.name__content-selected:focus, .name__content-selected:active {
  outline: none;
}
.name__content-selected:hover {
  border-bottom: 0px solid #000;
  transition: border 0s;
}

.products__filter__line {
  display: flex;
  text-transform: uppercase;
  margin-top: 51px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .products__filter__line {
    margin-top: 24px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .products__filter__line {
    margin-top: 24px;
  }
}

.products__filter {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  border: none;
  z-index: 4;
}
@media (min-width: 375px) and (max-width: 767px) {
  .products__filter {
    display: none;
  }
}
.products__filter:focus, .products__filter:active {
  outline: none;
}
.products__filter::after {
  content: url(../img/filter-icon.svg);
  margin-left: 11px;
}
.products__filter:hover {
  color: #EF5B70;
  cursor: pointer;
}

.products__filter-image {
  display: none;
}
@media (min-width: 375px) and (max-width: 767px) {
  .products__filter-image {
    display: block;
  }
}

.products__filter-list {
  display: flex;
  margin-left: 320px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .products__block {
    margin-top: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .products__block-list:nth-child(3) {
    display: none;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .products__block-list {
    margin-top: 0;
  }
  .products__block-list:nth-child(3) {
    display: none;
  }
}

.filter__list-item--title {
  margin-left: 30px;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  border: none;
  color: #6F6E6E;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .filter__list-item--title {
    margin-left: 28px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .filter__list-item--title {
    margin-left: 9px;
    font-size: 12px;
  }
}
.filter__list-item--title::after {
  content: url(../img/filter-arrow.svg);
  margin-left: 10px;
}
@media (min-width: 375px) and (max-width: 767px) {
  .filter__list-item--title::after {
    margin-left: 9px;
  }
}
.filter__list-item--title:hover {
  color: black;
  cursor: pointer;
}
.filter__list-item--title:focus, .filter__list-item--title:active {
  opacity: 0.5;
  outline: none;
}

.filter__extended {
  margin-left: -18px;
  padding-top: 28px;
  padding-left: 29px;
  padding-bottom: 16px;
  min-width: 360px;
  min-height: 531px;
  position: absolute;
  z-index: 3;
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  opacity: 0;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .filter__extended {
    display: none;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .filter__extended {
    display: none;
  }
}
.filter__extended:hover {
  opacity: 1;
  transition: 0.3s;
}

.filter__category-title {
  position: relative;
  margin-top: 18px;
  font-size: 14px;
  color: #EF5B70;
  cursor: default;
}
.filter__category-title::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background-color: #F16D7F;
  left: -12px;
  z-index: 2;
}
.filter__category-title::after {
  position: absolute;
  content: "";
  width: 328px;
  height: 1px;
  background-color: #EBEBEB;
  top: 35px;
  left: -12px;
  z-index: 1;
}
.filter__category-title:hover {
  opacity: 0.8;
}
.filter__category-title:active, .filter__category-title:focus {
  outline: none;
}

.filter__extended-list {
  margin-left: 12px;
  margin-top: 25px;
}

.filter__extended-item {
  max-width: 140px;
  font-size: 14px;
  color: #6F6E6E;
  text-transform: initial;
  line-height: 28px;
  cursor: default;
}
.filter__extended-item:hover {
  opacity: 0.8;
}
.filter__extended-item:active, .filter__extended-item:focus {
  outline: none;
}

.filter__size {
  display: block;
  position: absolute;
  left: 620px;
  top: 33px;
  padding-right: 30px;
  padding-left: 10px;
  padding-bottom: 8px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 6;
  opacity: 0;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .filter__size {
    display: none;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .filter__size {
    display: none;
  }
}
.filter__size:hover {
  opacity: 1;
  transition: 0.3s;
}

.filter__size-input {
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
}

.filter__size-name {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #6F6E6E;
  line-height: 16px;
}

.products__pagination {
  max-width: 252px;
  margin: 0 auto;
  margin-top: 48px;
  padding-right: 16px;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 5px;
  border: 1px solid #EBEBEB;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .products__pagination {
    margin-top: 40px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .products__pagination {
    margin-top: 41px;
  }
}
.products__pagination:focus, .products__pagination:active {
  outline: none;
}

.products__pagination-list:first-child::before {
  content: url(../img/pagination-left-arrow.svg);
  margin-left: 16px;
  cursor: pointer;
}

.products__pagination-list:last-child::after {
  content: url(../img/pagination-right-arrow.svg);
  margin-left: 16px;
  cursor: pointer;
}

.products__pagination-list:nth-child(8) {
  font-size: 16px;
  padding-top: 6px;
  opacity: 0.3;
}

.products__pagination-link {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  margin-left: 16px;
  opacity: 0.3;
}
@media (min-width: 375px) and (max-width: 767px) {
  .products__pagination-link {
    margin-left: 18px;
  }
}
.products__pagination-link:focus, .products__pagination-link:active {
  outline: none;
}

.products__pagination-selected {
  color: #F16D7F;
  opacity: 1;
}
.products__pagination-selected:focus, .products__pagination-selected:active {
  outline: none;
}

.products__pagination-link:hover {
  opacity: 1;
  transition: 0.5s;
}

/******************[ PRODUCT PAGE ]**********************/
.product__slider {
  height: 777px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img, .carousel-inner {
  height: 777px;
  z-index: -1;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img, .carousel-inner {
    height: 768px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img, .carousel-inner {
    height: 624px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .carousel-inner {
    padding-top: 30px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .carousel-inner {
    padding-top: 85px;
  }
}

.item:nth-child(2), .item:nth-child(3), .active:nth-child(2), .active:nth-child(3) {
  display: none;
}

@media (min-width: 375px) and (max-width: 767px) {
  .item:first-child, .active:first-child {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .item:nth-child(2), .active:nth-child(2) {
    display: block;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .item:nth-child(2), .active:nth-child(2) {
    display: none;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .item:nth-child(3), .active:nth-child(3) {
    display: block;
  }
}

.slider-image {
  margin: 0 auto;
}

.carousel-control.right, .carousel-control.left {
  background: none;
}

.product__info {
  width: 1140px;
  margin: 0 auto;
  margin-top: -40px;
  padding-bottom: 65px;
  border: 1px solid #EAEAEA;
  background-color: #fff;
  z-index: 3;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .product__info {
    width: 100%;
    margin-top: 20px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .product__info {
    width: 100%;
  }
}

.product__info-block {
  margin: 0 auto;
  width: 641px;
  text-align: center;
}
@media (min-width: 375px) and (max-width: 767px) {
  .product__info-block {
    width: 375px;
  }
}

.product__info-block--title {
  margin-top: 62px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #F16D7F;
}
.product__info-block--title::after {
  content: url(../img/product-pink-hr.svg);
}

.product__info-name {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #4D4D4D;
}

.product__info-about {
  width: 555px;
  margin-top: 48px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 17px;
  color: #5E5E5E;
}
@media (min-width: 375px) and (max-width: 767px) {
  .product__info-about {
    width: 326px;
    margin: 48px auto 0 auto;
  }
}

.product__info-price {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 300;
  color: #EF5B70;
}
.product__info-price::after {
  content: url(../img/product-grey-hr.svg);
}
@media (min-width: 375px) and (max-width: 767px) {
  .product__info-price::after {
    content: url(../img/product-grey-hr-phone.svg);
    display: flex;
    justify-content: center;
  }
}

.products__filter__line-dropdown, .btn-default, .btn, .btn-default:focus, .btn-default:hover, .btn-default:active, .btn:focus {
  text-transform: uppercase;
  border: none;
  border-color: unset;
  background-color: unset;
  outline-offset: 0;
  outline: none;
}

.products__filter__line-dropdown {
  font-size: 10px;
}

.dropdown {
  margin-left: 25px;
  margin-right: auto;
}

.dropdown-menu--input {
  width: 50px;
  height: 20px;
}

.products__filter-list {
  display: flex;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .products__filter-list {
    margin-left: 283px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .products__filter-list {
    margin-left: 38px;
  }
}

.save-product-button {
  padding-left: 73px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 57px;
  margin-top: 49px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #FF6A6A;
  background-color: #fff;
  background: url(../img/product-button-img.svg) no-repeat 20px;
  color: #F26376;
  cursor: pointer;
}
.save-product-button:focus, .save-product-button:active {
  outline: none;
}
.save-product-button:hover {
  color: white;
  background-color: #F16D7F;
  transition: 0.6s;
}
@media (min-width: 375px) and (max-width: 767px) {
  .save-product-button {
    font-size: 16px;
  }
}

.products__list {
  width: 1140px;
  margin: 129px auto 0 auto;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .products__list {
    width: 736px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .products__list {
    width: 358px;
  }
}

.products__list--info {
  width: 360px;
}
.products__list--info:hover {
  box-shadow: 0 0 0 2px #F16D7F, 0 0 0 4px #F16D7F;
  transition: 0.5s;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .col-xs-4 {
    width: 49.333333%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .col-xs-4 {
    width: 49.333333%;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .col-xs-4:last-child {
    display: none;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .col-xs-4:last-child {
    display: block;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .col-xs-4:nth-child(2) {
    display: none;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}

.footer__product {
  margin-top: 128px;
}

/******************[ CART PAGE ]**********************/
.cart {
  display: flex;
  flex-wrap: wrap;
  margin-top: 96px;
  padding-left: 230px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .cart {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .cart {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart__products {
    width: 100%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .cart__products {
    width: 100%;
  }
}

.cart__products-list {
  background-color: #fff;
}

.cart__products-item {
  display: flex;
  margin-top: 40px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
@media (min-width: 768px) and (max-width: 1599px) {
  .cart__products-item {
    width: 100%;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .cart__products-item {
    width: 100%;
    margin-top: 32px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__products-item--image {
    width: 144px;
    height: 188px;
  }
}

.cart__products__info-block {
  position: relative;
  width: 390px;
  margin-left: 31px;
  margin-top: 22px;
  color: #575757;
}

.cart__products-remove {
  position: absolute;
  left: 350px;
  right: 22px;
  top: 12px;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .cart__products-remove {
    left: 310px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .cart__products-remove {
    width: 10px;
    height: 11px;
    left: 160px;
    top: 6px;
  }
}
.cart__products-remove:hover {
  opacity: 0.8;
}
.cart__products-remove:focus, .cart__products-remove:active {
  outline: none;
  opacity: 0.5;
}

.cart__products-title {
  width: 262px;
  text-transform: uppercase;
  color: #000;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .cart__products-title {
    width: 211px;
    font-size: 24px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .cart__products-title {
    width: 130px;
    font-size: 16px;
    line-height: 19px;
  }
}

.cart__products-price {
  margin-top: 42px;
}
@media (min-width: 375px) and (max-width: 767px) {
  .cart__products-price {
    margin-top: 26px;
  }
}
.cart__products-price .cart__products-price--dollar {
  color: #F16D7F;
}

.cart__products-price, .cart__products-color, .cart__products-size, .cart__products-quantity {
  font-size: 22px;
}
@media (min-width: 375px) and (max-width: 767px) {
  .cart__products-price, .cart__products-color, .cart__products-size, .cart__products-quantity {
    font-size: 14px;
    line-height: 17px;
  }
}

.cart__products-form {
  display: flex;
}
.cart__products-form .cart__products-input {
  margin-left: 24px;
  width: 27px;
  padding-left: 16px;
  font-size: 18px;
  text-align: center;
  color: #656565;
  border: 1px solid #EAEAEA;
}
@media (min-width: 375px) and (max-width: 767px) {
  .cart__products-form .cart__products-input {
    width: 24px;
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    font-size: 10px;
  }
}
.cart__products-form .cart__products-input::placeholder {
  text-align: center;
  font-size: 18px;
  color: #656565;
}
.cart__products-form .cart__products-input:focus, .cart__products-form .cart__products-input:active {
  outline: none;
}

.cart__total {
  margin-left: 128px;
  padding-top: 40px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .cart__total {
    display: flex;
    margin-left: 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .cart__total {
    margin-left: 0;
  }
}

.cart__total-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

.cart__total-form {
  max-width: 360px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .cart__total-form {
    margin-right: 15px;
  }
}

.cart__total-input {
  margin-top: 20px;
  padding-left: 17px;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-right: 170px;
  font-size: 13px;
  font-weight: 300;
  border: 1px solid #A4A4A4;
}
.cart__total-input:focus, .cart__total-input:active {
  outline: none;
}
.cart__total-input::placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #222222;
}
.cart__total-input:first-child::placeholder {
  color: #B1B1B1;
}

.cart__address-button {
  margin-top: 24px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-right: 12px;
  font-size: 11px;
  text-transform: uppercase;
  color: #4A4A4A;
  background: #fff;
  border: 1px solid #A4A4A4;
  cursor: pointer;
}
.cart__address-button:focus, .cart__address-button:active {
  outline: none;
}

.cart__total-payment {
  width: 360px;
  margin-top: 58px;
  padding-top: 39px;
  padding-bottom: 42px;
  text-transform: uppercase;
  background: #F5F3F3;
}

.total__payment-subtotal {
  margin-left: 218px;
  font-size: 11px;
  color: #4A4A4A;
}

.total__payment-grandtotal {
  margin-left: 153px;
  font-size: 16px;
  font-weight: 300;
  color: #222222;
}
.total__payment-grandtotal .cart__grandtotal-price {
  color: #F16D7F;
}

.cart__subtotal-price, .cart__grandtotal-price {
  margin-left: 20px;
}

.total__payment-hr {
  width: 275px;
  background: #E2E2E2;
}

.total__payment-button {
  padding-left: 41px;
  padding-right: 43px;
  padding-top: 15px;
  padding-bottom: 16px;
  margin-left: 44px;
  margin-top: 17px;
  text-transform: uppercase;
  color: #fff;
  background: #F16D7F;
  border: 0px solid black;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .total__payment-button {
    font-size: 16px;
  }
}
.total__payment-button:focus, .total__payment-button:active {
  outline: none;
}

.cart__buttons-form {
  width: 781px;
  display: flex;
  justify-content: space-between;
  margin-top: 73px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .cart__buttons-form {
    width: 752px;
    justify-content: center;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .cart__buttons-form {
    width: 359px;
    margin-top: 30px;
  }
}

.cart__buttons-clear, .cart__buttons-shopping {
  padding: 16px 39px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  background: #fff;
  border: 1px solid #A4A4A4;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .cart__buttons-clear, .cart__buttons-shopping {
    margin-left: 48px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .cart__buttons-clear, .cart__buttons-shopping {
    padding: 9px 33px;
    font-size: 12px;
    text-transform: unset;
  }
  .cart__buttons-clear::first-letter, .cart__buttons-shopping::first-letter {
    text-transform: uppercase;
  }
}
.cart__buttons-clear:hover, .cart__buttons-shopping:hover {
  background: #F16D7F;
  color: #fff;
  transition: 0.5s;
}
.cart__buttons-clear:focus, .cart__buttons-clear:active, .cart__buttons-shopping:focus, .cart__buttons-shopping:active {
  outline: none;
}

/******************[ REGISTRATION PAGE ]**********************/
.registration {
  display: flex;
  margin-top: 34px;
}
@media (min-width: 375px) and (max-width: 767px) {
  .registration {
    flex-wrap: wrap;
    margin-top: 0;
  }
}

.registration__form {
  margin-left: 230px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .registration__form {
    margin-left: 16px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .registration__form {
    width: 95%;
    margin-left: 0;
    margin: 0 auto;
  }
}

.registration__form-name {
  margin-top: 33px;
  font-size: 16px;
  font-weight: 300;
  color: #222222;
}
@media (min-width: 375px) and (max-width: 767px) {
  .registration__form-name {
    margin-top: 40px;
  }
}

.registration__form-input {
  margin-top: 20px;
  padding-left: 17px;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-right: 278px;
  font-size: 13px;
  font-weight: 300;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .registration__form-input {
    padding-right: 175px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .registration__form-input {
    padding-right: 175px;
  }
}
.registration__form-input:focus, .registration__form-input:active {
  outline: none;
  border: 1px solid #A4A4A4;
}

.registration__radio-form {
  display: flex;
  margin-top: 31px;
}

.registration__radio {
  position: relative;
}

.registration__form-radio {
  width: 17px;
  height: 17px;
  margin-right: 54px;
}

.registration__radio-label {
  position: absolute;
  left: 34px;
  top: 3px;
  font-size: 11px;
  font-weight: 300;
}

.registration__password-memo {
  margin-top: 16px;
  max-width: 359px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form-button {
  margin-top: 39px;
  padding: 16px 29px;
  text-transform: uppercase;
  color: #fff;
  background-color: #F16D7F;
  border: 0px solid black;
  cursor: pointer;
}

.registration__form-button--text::after {
  content: url(../img/registration-button-arrow.svg);
  margin-left: 20px;
}

.registration__loyalty__block {
  margin-top: 33px;
  margin-left: 128px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .registration__loyalty__block {
    margin-left: 23px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .registration__loyalty__block {
    width: 95%;
    margin-left: 0;
    margin: 0 auto;
    margin-top: 40px;
  }
}

.loyalty__block-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.loyalty__block-info {
  margin-top: 22px;
  max-width: 652px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .loyalty__block-info {
    max-width: 354px;
  }
}

.loyalty__block-list {
  margin-top: 21px;
}

.loyalty__block-item {
  font-size: 24px;
  font-weight: 300;
}
.loyalty__block-item::before {
  content: url(../img/registration-loyalty-check-mark.svg);
  padding-right: 23px;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .loyalty__block-title, .loyalty__block-info, .loyalty__block-item {
    font-size: 16px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .loyalty__block-title, .loyalty__block-info, .loyalty__block-item {
    font-size: 16px;
  }
}